.CardProject
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.CardTitle
    color: #fff     

.carditem
    border-radius: 10px
    background-color:  rgba(255, 255, 255, 0.5)
    box-shadow:  1px 1px 3px #1cc9f5
    width: 10rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between


