@use '../variables'
@use '../mixin'

#sidebar
    background-color: #020202
    flex: 1 1 0
    flex-wrap: wrap
    border-radius: variables.$container-border-radius
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    position: relative
    padding: 3rem 0
    border: solid 1px #00FFFF





    img
        width: 11rem
        border-radius: variables.$container-border-radius
        position: absolute
        top: 1rem
        border: solid 1px #00FFFF
    
    .title
        color: #00FFFF
        background: variables.$bg-color-secondary
        border-radius: variables.$container-border-radius
        margin-top:16rem
        padding: .8rem 1.2rem
        cursor: pointer
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        letter-spacing: 2px
        
        :hover
            color: #4b528b


   