@use '../variables'
@use '../mixin'

.technologies-container
    margin-bottom: 1rem
    margin-top:1rem
    

    h1
        margin-bottom: 1rem
        font-size: 2rem
        font-weight: bold
        color: #fff
        
    .technologie-grid
        display: flex
        gap: 2rem
        align-items: center
        justify-content: center
        


    .technology-card
        @include mixin.center
        gap: 1rem
        padding: 1rem
        border: 1px solid #333
        width: 8rem
        border-radius: variables.$card-border-radius
        background-color: rgba(255, 255, 255, 0.5)
        box-shadow:  1px 1px 1px #1cc9f5
        flex-direction: column
