@use '../variables'
@use '../mixin'


:root
    --button-bg-color: #00FFFF
    --button-bg-color-second: #01090f
    --button-pulse-color: #05aaf791

.technologies-container
    margin-bottom: 1rem
    margin-top:1rem

        
        
    .technologie-grid
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap:1rem

        
  
        


    .technology-card
        @include mixin.center
        gap: 1rem
        padding: 1rem
        border: 1px solid #333
        width: 5rem
        height: 8rem
        border-radius: variables.$card-border-radius
        background-image: linear-gradient(135deg, var(--button-bg-color), var(--button-bg-color-second))
        box-shadow:  1px 1px 1px #1cc9f5
        flex-direction: column
