@use '../variables'
@use '../mixin'

.technologies-container
    margin-bottom: 1rem
        
    .technologie-grid
        display: flex
        flex-direction: wrap
        gap: 1.5rem

    .technology-card
        @include mixin.center
        gap: 1rem
        padding: 1rem
        border: 1px solid #333
        width: 45%
        border-radius: variables.$card-border-radius

