@use './variables'

@mixin center
    display: flex
    justify-content: center
    align-items: center

    

@mixin btn
    padding: 1rem 1.2rem
    color: variables.$text-color
    background:  linear-gradient(200deg, #f10f0f 50%, #dda170 100%)
    text-decoration: none
    border-radius: 3rem
