#Header-Container
    display: flex
    gap: 2rem
   

    



    
    

    .menu-items
        list-style-type: none
        color:#bddfb3
        font-size: 1rem
        margin: 20px
        padding: 1rem
        background-color:#111
        border: solid 1px
        border-radius: 2rem

           




     


    
    
 