@use '../libs/variables'
@use '../libs/mixin'



#sidebar 
  background:  linear-gradient(240deg, rgba(10,159,130,1) 0%,  rgba(21,33,31,1) 21%, rgba(5,6,6,1) 82%, rgba(10,159,130,1) 100%)
  display: flex
  padding-top: 4rem
  align-items: flex-start
  justify-content: center
  height: 95vh
  border: solid 1px rgba(10, 159, 130, 1)
  flex-wrap: wrap



  @media (max-width: 995px) 
    flex-direction: column
    align-items: center
    height: auto 


 

.avatar 
  filter: grayscale(100%)
  border-radius: 20rem
  width: 15rem
  margin-left: 6rem
  
.sidebarvegation
  display: flex
  justify-content: center
  border-radius: 2rem
  
  .sidebarvegation:hover
    background:#bddfb3


  
  

  


  
